.label {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}

.round {
  font-size: 3rem;
  font-weight: 500;
  color: var(--yellow);
  line-height: 1;
}

@media (width <= 1024px) {
  .label {
    font-size: 1.25rem;
  }

  .round {
    font-size: 2rem;
  }
}