:root {
  --black: #000;
  --white: #fff;
  --grey: #636363;
  --orange: #ff8d5d;
  --yellow: #fe0;
  --yellow-bg: #3a3a3a;
  --taupe: #756f4a;
  --green: #679552;
  --green-bg: #2e3a2f;
  --blue-night: #12141a;
  --blue-moon: #1e2124;
  --red: #de7b6c;
  --red-bg: #34282b;
  --blue: #55b4cc;
  --blue-bg: #263b50;

  /* SPACING */
  --spacing-12: 0.75rem;
  --spacing-56: 3.5rem;
  --spacing-64: 4rem;
  --spacing-80: 5rem;
  --spacing-16: 1rem;
  --spacing-8: 0.5rem;
  --spacing-160: 10rem;
  --spacing-40: 2.5rem;
  --spacing-24: 1.5rem;
  --spacing-34: 2.125rem;
  --spacing-4: 0.25rem;

  /* RADIUS */
  --radius-s: 2px;
  --radius-m: 16px;
  --radius-l: 30px;
  --radius-xl: 100px;
}

/* @media (prefers-color-scheme: dark) {
  :root {}
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100dvh;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* FLEX */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

/* BOUNDARIES */
.padding-s {
  padding: var(--spacing-8);
}

.padding-m {
  padding: var(--spacing-16);
}

.padding-l {
  padding: var(--spacing-24);
}

.padding-xl {
  padding: var(--spacing-40);
}

.margin-s {
  margin: var(--spacing-8);
}

.margin-m {
  margin: var(--spacing-16);
}

.margin-l {
  margin: var(--spacing-24);
}

.margin-xl {
  margin: var(--spacing-40);
}

/* Background color */
.bg-black {
  background: var(--black);
}

.bg-white {
  background: var(--white);
}

.bg-grey {
  background: var(--grey);
}

.bg-yellow {
  background: var(--yellow);
}

.bg-yellow-bg {
  background: var(--yellow-bg);
}

.bg-taupe {
  background: var(--taupe);
}

.bg-green {
  background: var(--green);
}

.bg-green-bg {
  background: var(--green-bg);
}

.bg-blue-night {
  background: var(--blue-night);
}

.bg-red {
  background: var(--red);
}

.bg-red-bg {
  background: var(--red-bg);
}

.bg-blue {
  background: var(--blue);
}

.bg-blue-bg {
  background: var(--blue-bg);
}
