:root {
  --black: #000;
  --white: #fff;
  --grey: #636363;
  --yellow: #fe0;
  --yellow-bg: #3a3a3a;
  --taupe: #756f4a;
  --green: #679552;
  --green-bg: #2e3a2f;
  --blue-night: #12141a;
  --red: #de7b6c;
  --red-bg: #34282b;
  --blue: #55b4cc;
  --blue-bg: #263b50;

  /* SPACING */
  --spacing-12: 0.75rem;
  --spacing-56: 3.5rem;
  --spacing-64: 4rem;
  --spacing-80: 5rem;
  --spacing-16: 1rem;
  --spacing-8: 0.5rem;
  --spacing-160: 10rem;
  --spacing-40: 2.5rem;
  --spacing-24: 1.5rem;
  --spacing-34: 2.125rem;
  --spacing-4: 0.25rem;

  /* RADIUS */
  --radius-s: 2px;
  --radius-m: 16px;
  --radius-l: 30px;
  --radius-xl: 100px;
}

/* @media (prefers-color-scheme: dark) {
  :root {}
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
