.roundScoreContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
  margin-bottom: 3rem;
  user-select: none;
  z-index: 2 !important;
}

.activeStratagemsInfo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  user-select: none;
  overflow: hidden;
}

.mobileKeyboard {
  display: none;
  overflow: hidden;
  padding: 0 0 0.3rem;
}

@media (width <= 1024px) {
  .roundScoreContainer {
    margin-bottom: 1rem;
  }

  .activeStratagemsInfo {
    margin-bottom: 0;
  }

  .mobileKeyboard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
  }
}
