.table {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding: var(--spacing-24);
  gap: var(--spacing-34);
  background-color: rgb(255 255 255 / 1%);
  margin-top: var(--spacing-8);
  min-width: calc(768px - 115px);
}

.title {
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
  display: flex;
  padding: 0 var(--spacing-16);
}

.title span {
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
}

.header {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: var(--spacing-8);
  padding: var(--spacing-16);
  background-color: rgb(255 255 255 / 4%);
  font-weight: 700;
}

.body {
  display: flex;
  flex-flow: column wrap;
  gap: 6px;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: var(--spacing-8);
  padding: var(--spacing-12) var(--spacing-16);
  background-color: rgb(255 255 255 / 4%);
}

.cell,
.cellMobile {
  font-family: var(--font-fs-sinclair);
  font-size: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--spacing-16);
  background: transparent;
  border: 0;
  color: var(--white);
  text-align: left;
}

.cell img,
.cellMobile img {
  --size-img: 45px;

  height: var(--size-img);
  width: var(--size-img);
  border: 2px solid rgb(255 255 255 / 5%);
  padding: var(--spacing-4);
}

.header .cell {
  font-weight: 700;
}

.cell.button {
  cursor: pointer;
}

.cell.active {
  color: var(--yellow);
}

.cellMobile {
  display: none;
}

@media (width <= 1024px) {
  .table {
    min-width: auto;
  }

  .header,
  .cell {
    display: none !important;
  }

  .row {
    gap: var(--spacing-4) var(--spacing-16);
  }

  .cellMobile {
    display: flex;
    grid-column: 2 / 3;
    gap: var(--spacing-8);
  }

  .cellMobile[name="img"] {
    --size-img: 60px;

    grid-column: 1 / 2;
    grid-row: 2 / 2;
    height: 20px;
  }

  .cellMobile img {
    --size-img: 50px;
  }

  .cellMobileLabel {
    font-size: 0.8rem;
    opacity: 0.7;
    padding-right: var(--spacing-8);
  }
}

@media (width <= 768px) {
  .table {
    padding: var(--spacing-16);
  }
}
