.timer {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  background: var(--grey);
  color: var(--black);
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: center;

}

@media (width > 1920px) {
  .timer {
    height: 40px;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--yellow);
  height: 100%;
  position: absolute;
  left: 0;
}

.value {
  position: absolute;
  z-index: 1;
  font-size: 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  user-select: none;
  min-width: 275px;
  text-align: center;
}
