.icon {
  --size-icon: 40px;
  --color-icon: #fff;
  --rotation: 0deg;

  height: var(--size-icon);
  width: var(--size-icon);
  color: var(--color-icon);
  transform: rotate(var(--rotation));


  /* transition: color 0.1s ease-in-out; */
}

.right {
  --rotation: 90deg;
}

.left {
  --rotation: -90deg;
}

.up {
  --rotation: 0deg;
}

.down {
  --rotation: 180deg;
}

.active {
  --color-icon: var(--yellow);

  animation: size-success 0.2s;
}

.error {
  animation: blink-error 0.3s;
}

/* LIST */

.list {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.75rem;
  list-style: none;
  padding: 2rem 0;
}

/* ANIMATION */
@keyframes blink-error {
  0% {
    color: var(--white);
  }

  75% {
    color: var(--red);
  }

  100% {
    color: var(--red);
  }
}

@keyframes size-success {
  0% {
    transform: scale(1) rotate(var(--rotation));
  }

  50% {
    transform: scale(1.1) rotate(var(--rotation));
  }

  100% {
    transform: scale(1) rotate(var(--rotation));
  }
}
