.checkbox-container {
  --checkbox-large-size: 24px;
  --checkbox-small-size: 16px;

  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 1px solid yellow;
  transition: 0.2s ease-in-out;
  transition-property: background-color;
}

.large.checkbox-container {
  height: var(--checkbox-large-size);
}

.large .checkbox-checkmark {
  height: var(--checkbox-large-size);
  width: var(--checkbox-large-size);
  border-radius: 5px;
}

.checkbox-container.large {
  padding-left: calc(var(--checkbox-large-size) + 4px);
  font: var(--font-p1-default);
}

.small.checkbox-container {
  height: var(--checkbox-small-size);
}

.small .checkbox-checkmark {
  height: var(--checkbox-small-size);
  width: var(--checkbox-small-size);
  border-radius: 4px;
}

.checkbox-container.small {
  padding-left: calc(var(--checkbox-small-size) + 4px);
  font: var(--font-p2-default);
}

.checkbox-checkmark svg{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--neutral-00);
}

.small .checkbox-checkmark svg {
  height: 7px;
}

.checkbox-container input:checked ~ .checkbox-checkmark {
  background-color: yellow;
}

.checkbox-container input:checked ~ .checkbox-checkmark::after {
  content: "";
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('data:image/svg+xml;utf8,<svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.4123 0.389189C14.8954 -0.12973 14.12 -0.12973 13.6031 0.389189L6.63846 7.38649L2.69692 3.42973C2.18 2.91081 1.40462 2.91081 0.887692 3.42973C0.370769 3.94865 0.370769 4.72703 0.887692 5.24595L5.73385 10.1108C5.99231 10.3703 6.25077 10.5 6.63846 10.5C7.02615 10.5 7.28462 10.3703 7.54308 10.1108L15.4123 2.20541C15.9292 1.68649 15.9292 0.908108 15.4123 0.389189Z" fill="%23FFFFFF"/></svg>');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.small.checkbox-container input:checked ~ .checkbox-checkmark::after {
  height: 6px;
}

.large.checkbox-container input:checked ~ .checkbox-checkmark::after {
  height: 10px;
}

