/* MAIN */
.container {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}

/* CATEGORY */
.category {
  display: flex;
  flex-flow: column wrap;
  gap: 0.75rem;
}

/* HEAD */
.head {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.head .title {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #e0e0e0;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  gap: 5px;
}

@media (width <= 768px) {
  .cards {
    grid-template-columns: repeat(3, 80px);
  }
}