.label {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  background: rgb(255 255 255 / 5%);
  padding: 0.5rem 1rem;
}

.labelText {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  font-size: 0.95rem;
  font-weight: 500;
  text-align: left;
}

.label input {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: var(--font-fs-sinclair);
  font-weight: 500;
  height: 30px;
  min-width: 80px;
  border: none;
  text-align: center;
  width: 100px;
  padding: 0.5rem;
  background: #3c3c3c;
  color: var(--white);
  border-radius: 0;
}

.label input::-webkit-inner-spin-button,
.label input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.titlePopover {
  width: 250px;
  padding: var(--spacing-16);
  background: rgb(18 20 26 / 87%);
  color: var(--white);
  border-radius: 0 0 var(--radius-s);
  backdrop-filter: blur(3px);
  border-left: 2px solid var(--yellow);
}

.settingsTrigger {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.settingsIcon {
  --size-icon: 16px;

  width: var(--size-icon);
  height: var(--size-icon);
}