.container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 1rem;
  gap: 0.5rem;
  height: 100%;
}

.links{
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}